@import "tailwindcss";
@keyframes navbarFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-navbar {
  animation: navbarFade 0.6s ease-out;
}
